.navbar{
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.navContainer{
  width: 100%;
  color: white;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}